.action-item {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DFF0FD;
    border-radius: 10px;
    box-shadow: black 5px -5px;
}

.arrow-left {
    transform: rotate(270deg);
}
.arrow-right {
    transform: rotate(90deg);
}
.arrow-top {
    transform: rotate(0deg);
}
.arrow-down {
    transform: rotate(180deg);
}

