.control-panel {
    margin: 20px auto;
    width: fit-content;
}

.btn-blue {
    background: #DFF0FD;
}
.btn-green {
    background: #D3E5D2;
}
button {
    font: inherit;
    color: inherit;
    padding: 5px 20px;
    margin: 10px;
    border: none;
    font-weight: bold;
    box-shadow: black 5px -5px;
}
button:active {
    transform: scale(0.95);
}

.score {
    margin-right: 40px;
    font-size: 30px;
}

.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
